<h1>Listing faces</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faces.each do |face| %>
      <tr>
        <td><%= face.image %></td>
        <td><%= face.user %></td>
        <td><%= link_to 'Show', face %></td>
        <td><%= link_to 'Edit', edit_face_path(face) %></td>
        <td><%= link_to 'Destroy', face, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Face', new_face_path %>
